
.grid-container{
    position: relative;
    justify-self: center;
    align-self: center;
    margin: 20%;
    display: grid;
    grid-gap: 5px;
    background: linear-gradient(to bottom,tan,sandybrown);
    border-radius: 10px;
    grid-template-areas:
     "my-name logo" 
     "item-b item-b"
     "item-d item-c";
    width: 480px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.415);
    
     
}
.my-name{
    grid-area: my-name;
}
.item-2{
    grid-area: item-b;
}
.item-3{
    grid-area: item-c;
}
.item-4{
    grid-area: item-d;
}
.logo{
    grid-area: logo;
}
.grid-item{
    
    color: rgb(47, 43, 35);
    text-align: start;
    padding: 10px;
    margin: 2px;
    font-family:'Times New Roman', Times, serif;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid black 4px;
    justify-self: center;
    margin-top: 20px;
    
}
.floating{
    animation: floating 5s ease-in-out infinite;
}
@keyframes floating {
    0%{
        transform: scale(1)
        
    }
    50%{
        transform: scale(1.03)
    }
    100%{
        transform: scale(1)
    }
    
}